<% include ../helpers.ejs %>
<div>
    <div class="blc-faq" id="faq">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="desc">
                        <h2>Color Palettes</h2>


                        <div class="row">
                            <div class="col-md-8">
                                Logo<br/>
                                #7fc6b7
                            </div>
                            <div class="col-md-4" style="background-color: #7fc6b7">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8">
                                Logo<br/>
                                #7fafc6
                            </div>
                            <div class="col-md-4" style="background-color: #7fafc6">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8">
                                BG-Dark<br/>
                                #224466
                            </div>
                            <div class="col-md-4" style="background-color: #224466">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8">
                                Action<br/>
                                #CCAA99
                            </div>
                            <div class="col-md-4" style="background-color: #CCAA99">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8">
                                Action<br/>
                                #FF3344
                            </div>
                            <div class="col-md-4" style="background-color: #FF3344">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8">
                                Font<br/>
                                #444444
                            </div>
                            <div class="col-md-4" style="background-color: #444444">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>