<% include ../helpers.ejs %>
<div>
    <%- partial("../shared/_bounty_old") %>
    <%- partial("../shared/_bounty_faq") %>

    <div class="blc-footer" id="customFooter">
        <div class="container">
        <%- partial("../shared/_social_row") %>
        </div>
    </div>
</div>
