<% include ../helpers.ejs %>
<div>
    <%- partial("../shared/_press") %>
    <div class="blc-footer" id="customFooter">
        <div class="container">
            <%- partial("../shared/_social_row") %>
        </div>
    </div>
</div>