<div class="blc-about bg-blue" id="about-substrate">
    <div class="container">
        <div class="head">
            <h1 class="title hr">ASURE BLOCKCHAIN</h1>
            <div class="row">
                <div class="offset-md-2 col-md-8 justify">
                    <p>
                        The Asure Blockchain will be a performant and secure proof-of-stake based blockchain that
                        enables high transaction throughput at a low cost, which would be necessary for implementing
                        blockchain based social security systems within countries.
                    </p>
                    <p>
                        The Asure Blockchain is built on top of Substrate - a blockchain framework developed by the Web3 Foundation / Parity Technologies.
                        Substrate provides a great abstraction of common blockchain functionalities and allows
                        us to reuse common features, innovate faster, and develop new modules that solve problems
                        within the domain of social security systems.
                    </p>
                </div>
            </div>
        </div>

        <div class="features">
            <div class="row">
                <div class="col-md-12">
                    <img alt="overview of asure blockchain, asure network, and asure ecosystem"
                         src="content/img/asure_substrate.png" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>