<section class="blc-tge bg-white-blue" id="tge">
    <div class="container">
        <div class="head">
            <h1 class="title hr">Asure Network Angels Program</h1>
            <div class="row">
                <div class="offset-md-2 col-md-8 justify">
                    <p>
                        Asure Network is a layer 2 scaling network that enables fast, easy and secure transactions for
                        not only payment transactions, but also generalized smart contracts. Founded by German insurance
                        and technology experts, the network enables everyone to quickly build, operate, and use highly
                        scalable business applications through innovations in multi-chain scaling techniques and
                        incentive-aligned crypto economics mechanisms.
                    </p>
                    <p>
                        <strong>Join us as a Asure Network Angel.</strong><br/><br/>

                        Hello and welcome to the Asure Angels Program.
                        If you are wondering what that is, it means you are in the right place.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2>Why Angels Program?</h2>
                <p class="justify">
                    Generally we are a non-profit organisation.
                    We are developing decentralized network for Social Security use-cases like
                    pension/insurance/basic income systems on Blockchain.
                </p>
            </div>
            <div class="col-md-6">
                <h2>Who are Asure Angels?</h2>
                <p class="justify">
                    Asure Angels are people who understand the vision of the Asure Foundation and who'd like to
                    support it in some ways. Our goal is to help people improve their lives by improving the systems
                    that matter the most for people, meaning the Social Security systems.
                    <br/><br/>
                    As an Asure Network Angel you are working directly with the Asure team.
                </p>
            </div>
            <div class="col-md-6">
                <h2>What do angels have to do?</h2>
                <p class="justify">
                    We expect our Angels to come and tell us what their skills are, what their experience is and how
                    they can help the project.
                    If you are interested in joining Asure Angels program, you can register here below.
                    <br/><br/>
                    One Angel of ours translates our articles to Japanese and also has a Japanese Twitter for Asure.
                    This is just an example of a possible support.
                </p>
            </div>
            <div class="col-md-6">
                <h2>Will I be paid?</h2>
                <p class="justify">
                    First of all, it is important to understand that the Asure Angels are volunteers who are interested
                    in supporting the project and want to change things the way we do for the better.
                    <br/><br/>
                    All Asure Angels will be paid with tokens, but if your primary objective is to earn money, it is
                    probably not the best way to do it.
                    There are projects oriented at quick profits, maybe they can even pay fiat money.
                    We don't do that. We develop our network for the community.
                    That's why we are looking for supporters.
                </p>
            </div>
            <div class="col-md-12">
                    <a href="https://forms.gle/m3tPN87bTa4t6DDc9" target="_blank" class="btn btn-primary form-control">Asure Angels registration</a>
            </div>
            <div class="col-md-12">

                <p>
                    There are several ways how you can get this information.
                    We have published a number of articles to describe what we do.
                    <br/>
                    Aside from the articles we have some documents which are quite typical for a crypto project.
                    <br/><br/>
                    The documents are available on our website:
                    <a href="https://www.asure.network">https://www.asure.network</a>
                    <br/><br/>
                    <strong>Asure Angels Selection Criteria</strong>
                    <br/>
                    <strong>Location:</strong> Anywhere                    <br/>
                    <strong>Guidelines:</strong> Lively and communicative; passionate about people's well-being and trying to help others
                    <br/><br/>
                    I hope I could give you a feeling of what we are and where we are currently in our roadmap
                    terms.
                </p>
            </div>
        </div>
    </div>
</section>
