<div class="row">
    <div class="col-lg-12">
        <div class="card mt-4">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" id="tab-info">
                    <li class="nav-item">
                        <a class="nav-link active" href="#welcome" data-toggle="tab">Welcome</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#participate" data-toggle="tab">Participate</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#token-distribution" data-toggle="tab">Token Distribution</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#rules" data-toggle="tab">Rules</a>
                    </li>
                </ul>
            </div>
            <div class="card-body ">
                <div class="tab-content p-0 border-0">
                    <div class="tab-pane fade show active text-center" id="welcome" role="tabpanel"
                         aria-labelledby="participate-tab">
                        <h3>Welcome to the Asure Bounty Programm II</h3>
                        <br/>
                        <div class="tokens-total" style="background-color: #466e8c; color: #58c9c4; padding: 25px;">
                            <h4>
                                Total Reward: <strong></strong>
                            </h4>
                        </div>

                        <!--<p>
                            <a class="nav-link-goto-participate" href="#participate">How do I participate?</a>
                        </p>-->
                    </div>
                    <div class="tab-pane fade show" id="participate" role="tabpanel"
                         aria-labelledby="participate-tab">
                        <h4>Step 1: Register with the bounty program</h4>
                        <p>
                            Fill out the registration
                            <a href="https://forms.gle/kLfbUSbyfjRSZEkU7"
                               target="_blank">form</a>
                            once.

                        <h4>Step 2: Report your activities every week</h4>
                        <p>
                            Submit your weekly work report to the following places:
                        </p>
                        <ol style="list-style-position: inside;">
                            <li>
                                Please submit your weekly work report to our
                                <a href="https://bitcointalk.org/index.php?topic=5175635"
                                   target="_blank">bounty thread on Bitcointalk</a> and use the template below.
                            </li>
                            <li>
                                Also, submit your weekly work report through our
                                <a href="https://forms.gle/44kY2bQcw1C9NDkq8" target="_blank">Google form</a>.
                            </li>
                        </ol>
                        <h4>Bitcointalk report template</h4>
                        <pre>
ERC-20 Wallet Address : ________
Campaign ID: ________
Week Number: __________
Work URLs:
1. _________
2. _________
3. _________
4. _________
5. _________
                            </pre>
                        <div class="alert alert-info">
                            <strong>Note</strong>
                            Valid Week numbers are from 34 to 52.
                            Campaign IDs can be found in the campaign tasks and
                            have the following form: TWITTER01, FACEBOOK02, LINKEDIN03, etc.
                        </div>
                    </div>
                    <div class="tab-pane fade" id="token-distribution" role="tabpanel"
                         aria-labelledby="token-distribution-tab">
                        <img class="img-fluid"
                             src="https://cdn-images-1.medium.com/max/1200/1*LfC45ZD91066ETPQCMPsRQ.png"/>
                    </div>
                    <div class="tab-pane fade" id="rules" role="tabpanel" aria-labelledby="rules-tab">
                        <ul>
                            <li>We reserve the right to limit the number of participants in the
                                campaigns at
                                any
                                time.
                            </li>
                            <li>We reserve the right to change the conditions of our bounty campaign at
                                any time.
                            </li>

                            <li>Only one account per person. Using multi-accounts, cheating and spamming
                                are strictly forbidden.
                            </li>
                            <li>Your payment address cannot be changed. Once you apply, your address
                                will be locked. (Every participant is responsible for the protection of his/her payment
                                address and private keys).
                            </li>
                            <li>You need to join our Bounty Telegram group in order to participate in
                                the Asure Bounty program. <br/>Without joining the telegram group, you will not be
                                counted on any Bounty. <br/>
                                The Telegram link is: <a href="https://t.me/AsureNetwork"
                                                         target="_blank">https://t.me/AsureNetwork</a>
                            </li>
                            The Bounty Telegram link is: <a href="https://t.me/AsureBounty" target="_blank">https://t.me/AsureBounty</a></li>


                            <li>
                                Any users who get their Bitcointalk/Facebook/Twitter account banned will lose ALL
                                stakes. Please use your accounts responsibly.
                            </li>
                            <li>The ones breaking the rule will be disqualified from the Bounty program without getting
                                any tokens.
                            </li>
                            <li>We reserve the right to disqualify any user at any time.</li>
                            <li>You accept, that we can repost your post in our publications.</li>
                            <li>By signing up for the bounty, you accept these terms.</li>
                        </ul>

                        <div class="alert alert-info">
                            <strong>Note</strong>
                            ALL BOUNTY RELATED QUESTIONS MUST BE ASKED ONLY IN OUR BOUNTY GROUP HERE:
                            <a href="https://t.me/AsureBounty" target="_blank">https://t.me/AsureBounty</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



