<section class="blc-kyc-policy bg-blue pt-5" id="kyc">
    <div class="container">
        <div class="head pt-5">
            <h1 class="title hr black">Asure KYC/AML policy</h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="card-registration-successful" class="card">
                    <div class="card-header text-center bg-green">
                        <h2>Asure KYC/AML policy</h2>
                        <strong>Last updated February 15, 2019</strong>
                    </div>
                    <div class="card-body bg-light-green">
                        <p class="card-text">
                            Asure's Anti-Money Laundering and Know Your Customer Policy (hereinafter - the KYC Policy) is designated to prevent and mitigate possible risks of Asure being involved in any kind of illegal activity.
                        </p>
                        <p class="card-text">
                            Both international and local regulations require Asure to implement effective internal procedures and mechanisms to prevent money laundering, terrorist financing, drug and human trafficking, proliferation of weapons of mass destruction, corruption and bribery and to take action in case of any form of suspicious activity from its Users.
                        </p>
                        <p class="card-text">
                            One of the international standards for preventing illegal activity is customer due diligence (CDD). According to CDD, Asure establishes its own verification procedures within the standards of anti-money laundering and Know Your Customer frameworks.
                        </p>
                        <p class="card-text">
                            Asure’s identity verification procedure requires the User to provide Asure with reliable, independent source documents, data or information (e.g., national ID, international passport, bank statement, utility bill). For such purposes Asure reserves the right to collect User’s identification information for the KYC Policy purposes.
                        </p>
                        <p class="card-text">
                            Asure will take steps to confirm the authenticity of documents and information provided by the Users. All legal methods for double-checking identification information will be used and Asure reserves the right to investigate certain Users who have been determined to be risky or suspicious.
                        </p>
                        <p class="card-text">
                            Asure reserves the right to verify Users identity on an ongoing basis, especially when their identification information has been changed or their activity seemed to be suspicious (unusual for the particular User). In addition, Asure reserves the right to request up-to-date documents from the Users, even though they have passed identity verification in the past.
                        </p>
                        <p class="card-text">
                            Users identification information will be collected, stored, shared and protected strictly in accordance with the Asure’s Privacy Policy and related regulations.
                        </p>

                        <h3 class="card-title text-center">Contact Us</h3>
                        <p class="card-text">
                            If you have any questions or suggestions about our KYC Policy,
                            do not hesitate to contact us: <a href="mailto:kyc@asure.io">kyc@asure.io</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <%- partial("_social_row") %>
    </div>
</section>