<section class="blc-tge bg-white-blue" id="tge">
    <div class="container">
        <div class="head">
            <h1 class="title hr">Asure Press Kit</h1>
            <div class="row">
                <div class="offset-md-2 col-md-8 justify">
                </div>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-12">


                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="nav-item">
                            <a class="nav-link active" href="#tab-en" aria-controls="messages" role="tab"
                               data-toggle="tab">
                                <img src="../content/img/en.svg.png" height="24"/>
                            </a>
                        </li>
                        <li role="presentation" class="nav-item">
                            <a class="nav-link" href="#tab-de" aria-controls="messages" role="tab"
                               data-toggle="tab">
                                <img src="../content/img/de.svg.png" height="24"/>
                            </a>
                        </li>
                        <li role="presentation" class="nav-item">
                            <a class="nav-link" href="#tab-ru" aria-controls="messages" role="tab"
                               data-toggle="tab">
                                <img src="../content/img/ru.svg.png" height="24"/>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="tab-en">
                            <p>
                                Here we have collected the most important information you might need for writing about
                                Asure Network.
                            </p>
                            <h4>About us:</h4>
                            <p>
                                We are using the latest technologies such as Blockchain, AI and Neural Networks in order
                                to significantly improve existing Social Security systems as well as to create new kinds
                                of Social insurance systems on the decentralized Asure Network.
                            </p>
                            <h4>About the project Asure Network:</h4>
                            <p>
                                Asure Network is a layer 2 scaling network that enables fast, easy and secure
                                transactions for not only payment transactions, but also generalized smart contracts.
                                Founded by German insurance and technology experts, the network enables everyone to
                                quickly build, operate, and use highly scalable business applications through
                                innovations in multi-chain scaling techniques and incentive-aligned crypto economics
                                mechanisms.
                            </p>
                            <h4>What problems does Asure Network solve?</h4>
                            <p>
                                We are developing Asure Network as an infrastructure for Social Security systems of the
                                future. Our goal is to provide access to such systems for individuals as well as to
                                offer such decentralized systems to governments.
                                The existing social security systems are based on centralized databases and crooked
                                processes allowing fraud and corruption. Labor-intensive processes and lack of trust in
                                systems are the challenges we solve with the help of blockchain.
                                We are working on the solution that allows global inclusion in the social security
                                market, just as Bitcoin allows for global inclusion in the financial market.

                            </p>
                            <h4>Where do the requirements for the Asure Network come from?</h4>
                            <p>
                                We have developed several prototypes of decentralized pension/insurance models to see
                                how decentralized Social Security systems can be designed with people in mind.
                                The prototypes are based on the German statutory pension system. We obtained very
                                valuable feedback after modelling different use-cases in a workshop for the German
                                Pension Insurance Association (Deutsche Rentenversicherung Bund).
                                The insights that we obtained helped us design Asure Network to provide an optimal
                                blockchain infrastructure for the future social security services such as transparent,
                                scalable and compliant with the data protection policies Pension and Insurance systems
                                as well as systems for enabling Basic Income solutions.
                            </p>

                            <h4>Our Mission:</h4>
                            <p>
                                To help the social security achieve the necessary standards of quality, transparency,
                                and reliability.
                            </p>
                            <h4>Our Vision:</h4>
                            <p>
                                People around the world enjoy their lives without having to worry about any risks or
                                losses.
                            </p>
                            <h4>Facts:</h4>
                            <p>
                                Our team consists of more than 15 specialists which have background in the insurance
                                area and the latest technologies (AI and Data Science) and specialize in working with
                                enterprises and government authorities in the fields of innovations.
                                <br/><br/>
                                The Asure Foundation is a nonprofit organization dedicated to improving the world's
                                Social Security systems and promoting research, development and awareness in this field.
                                <br/><br/>
                                <strong>Launched:</strong> In early 2017<br/>
                                <strong>Headquarters: </strong> Zug, Switzerland and Dortmund, Germany<br/>
                            </p>
                            <h4>Important Links:</h4>
                            <p>
                                <a href="https://medium.com/AsureNetwork"
                                   target="_blank">Blog</a>
                                <br/>
                                <a href="https://t.me/AsureNetwork"
                                   target="_blank">Telegram</a><br/>
                                <a href="https://twitter.com/AsureNetwork"
                                   target="_blank">Twitter</a><br/>
                                <a href="https://asure.network"
                                   target="_blank">Website</a><br/>
                            </p>

                            <h4>Our Media kit</h4>
                            <p>
                                <a href="https://www.dropbox.com/sh/46std9u0knlq2cz/AAAR3N1LiMs0vG0ZqWf7RSj9a?dl=0"
                                   target="_blank">
                                    Download Assets
                                </a>
                            </p>

                            <h4>Colors</h4>
                            <div class="row">
                                <div class="col-3">
                                    <div class="bg-color1 text-center">
                                        <br/>
                                        Blue<br/>
                                        #69acd6
                                        <br/>
                                        &nbsp;
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="bg-color2 text-center">
                                        <br/>
                                        Green<br/>
                                        #58c9c4
                                        <br/>
                                        &nbsp;
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="bg-color1-light text-center">
                                        <br/>
                                        Light Blue<br/>
                                        #c5e9ff
                                        <br/>
                                        &nbsp;
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="bg-gray text-center">
                                        <br/>
                                        Gray<br/>
                                        #444444
                                        <br/>
                                        &nbsp;
                                    </div>
                                </div>
                            </div>

                            <br/><br/>
                            <h4>If you have any questions:</h4>
                            <p>
                                E-Mail: <a href="mailto:press@asure.io">Press</a>
                            </p>
                            <br/><br/>


                        </div>
                        <div role="tabpanel" class="tab-pane" id="tab-de">

                            <p>
                                Wir haben einige Informationen zusammengestellt, die Sie möglicherweise benötigen, wenn
                                Sie über Asure Network schreiben.
                            </p>
                            <h4>Über uns:</h4>
                            <p>
                                Wir sind davon überzeugt, dass die Technologie wie Blockchain und der dezentralisierte
                                Ansatz dazu verhelfen wird die bestehenden Systeme als auch neue Systeme im Bereich
                                Sozialversicherungen erheblich zu verbessern.
                            </p>
                            <h4>Über das Asure Network Projekt:</h4>
                            <p>
                                Asure Network ist ein Layer-2-Skalierungsnetzwerk, das schnelle, einfache und sichere
                                Transaktionen nicht nur für Zahlungsvorgänge, sondern auch für allgemeine Smart
                                Contracts ermöglicht.
                                Das von deutschen Versicherungs- und Technologieexperten
                                gegründete Netzwerk ermöglicht es jedem, schnell skalierbare Geschäftsanwendungen zu
                                erstellen, zu betreiben und zu nutzen. Dies geschieht durch Innovationen bei
                                Multi-Chain-Skalierungstechniken und anreizorientierten Kryptoökonomiemechanismen.
                            </p>
                            <h4>Welches Problem löst das Asure Network?</h4>
                            <p>
                                Wir entwickeln Asure Network als Infrastruktur für die sozialen Sicherungssysteme der
                                Zukunft. Unser Ziel ist es, 4,1 Milliarden Menschen weltweit Zugang zu
                                Sozialversicherungssystemen zu ermöglichen, die
                                heute keinen Zugang haben. Die bestehenden Sozialversicherungssysteme basieren auf
                                zentralisierten Datenbanken, intransparenten Prozessen,
                                Betrug, Korruption, arbeitsintensiven Prozessen und mangelndem Vertrauen.
                                Dies sind die Herausforderungen, die wir mit Hilfe der Blockchain lösen und damit eine
                                globale Einbindung in den Markt der sozialen Sicherheit schaffen vergleichbar mit
                                Bitcoin die einen Zugang in den Finanzmarkt ermöglicht.
                            </p>
                            <h4>Woher kommen die Anforderungen für das Asure Network?</h4>
                            <p>
                                Unseren Protoypen zum deutschen gesetzlichen Rentensystem und die daraus gewonnen
                                Ergebnisse haben wir gemeinsam mit dem Deutschen Rentenversicherung Bund im Rahmen eines
                                Workshops analysiert. Die daraus gewonnen Erkenntnisse helfen, dass Asure Network zu
                                einer optimalen Blockchain Infrastruktur für zuküntige Sozialversicherungen wie z.B.
                                Rentensysteme transparent, skalierbar und datenschutzkonform, umzusetzen.
                            </p>
                            <h4>Unsere Mission:</h4>
                            <p>
                                Unterstützung für die Sozialversicherungen bieten bei der Erreichung der erforderlichen
                                Standards für Qualität, Transparenz und Zuverlässigkeit.
                            </p>
                            <h4>Unsere Vision:</h4>
                            <p>
                                Menschen auf der ganzen Welt genießen ihr Leben, ohne sich um Risiken und Verluste
                                sorgen zu müssen.
                            </p>
                            <h4>Organisation:</h4>
                            <p>
                                Unser Team besteht aus mehr als 15 Spezialisten aus dem Bereich Versicherungswesen und
                                Technologie, die sich auf die Zusammenarbeit mit Unternehmen und Behörden auf dem Gebiet
                                der Innovationen spezialisiert haben.
                                <br/><br/>
                                Die Asure Foundation ist eine gemeinnützige Organisation, die darauf abzielt, die
                                Sozialversicherungssysteme dieser Welt zu verbessern und in diesem Bereich die
                                Forschung, Entwicklung und Wissensaustausch zu fördern.
                                <br/><br/>
                                <strong>Gestartet:</strong> Anfang 2017<br/>
                                <strong>Niederlassungen: </strong> Zug, Schweiz und Dortmund, Deutschland<br/>
                            </p>
                            <h4>Relevante Links:</h4>
                            <p>
                                <a href="https://medium.com/AsureNetwork"
                                   target="_blank">Blog</a>
                                <br/>
                                <a href="https://t.me/AsureNetwork"
                                   target="_blank">Telegram</a><br/>
                                <a href="https://twitter.com/AsureNetwork"
                                   target="_blank">Twitter</a><br/>
                                <a href="https://asure.network"
                                   target="_blank">Website</a><br/>
                            </p>


                            <h4>Medien und Unterlagen</h4>
                            <p>
                                <a href="https://www.dropbox.com/sh/46std9u0knlq2cz/AAAR3N1LiMs0vG0ZqWf7RSj9a?dl=0"
                                   target="_blank">
                                    Logos
                                </a>
                                <br/>
                                <a href="../asure.network.presentation.06.2019.de.pdf"
                                   target="_blank">
                                    Präsentation
                                </a>
                            </p>


                            <h4>Farben</h4>
                            <div class="row">
                                <div class="col-3">
                                    <div class="bg-color1 text-center">
                                        <br/>
                                        Blau<br/>
                                        #69acd6
                                        <br/>
                                        &nbsp;
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="bg-color2 text-center">
                                        <br/>
                                        Grün<br/>
                                        #58c9c4
                                        <br/>
                                        &nbsp;
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="bg-color1-light text-center">
                                        <br/>
                                        Hell Blau<br/>
                                        #c5e9ff
                                        <br/>
                                        &nbsp;
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="bg-gray text-center">
                                        <br/>
                                        Grau<br/>
                                        #444444
                                        <br/>
                                        &nbsp;
                                    </div>
                                </div>
                            </div>

                            <br/><br/>
                            <h4>Wenn Sie Fragen haben:</h4>
                            <p>
                                E-Mail: <a href="mailto:press@asure.io">Presse</a>
                            </p>
                            <br/><br/>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="tab-ru">

                            <p>
                                Здесь мы собрали самую важную информацию, которая может понадобиться вам для написания
                                статьи об Asure Network.
                            </p>
                            <h4>О нас:</h4>
                            <p>
                                Мы используем новейшие технологии, такие как блокчейн, искусственный интелект и
                                нейронные сети, чтобы в значительной степени улучшить существующие системы социального
                                обеспечения, а также создать новые виды систем социального страхования в
                                децентрализованной сети Asure.
                            </p>
                            <h4>О проекте Asure Network:</h4>
                            <p>
                                Asure Network это масштабируемая двухуровневая сеть, которая обеспечивает быстрые,
                                простые и безопасные транзакции не только для платежей, но и для обобщенных смарт
                                контрактов. Основанная немецкими страховыми и технологическими экспертами, сеть
                                позволяет всем быстро создавать, работать и использовать масштабируемые
                                бизнес-приложения благодаря инновациям в методах многоцепного масштабирования и
                                механизмах криптоэкономики, ориентированных на стимулы.
                            </p>
                            <h4>Какие проблемы решает Asure Network?</h4>
                            <p>
                                Мы развиваем Asure Network как инфраструктуру для систем социального обеспечения
                                будущего. Нашей целью является предоставление физическим лицам доступа к таким системам,
                                а также предоставление таких децентрализованных систем правительствам. Существующие
                                системы социального обеспечения основаны на централизованных базах данных и нечестных
                                процессах, допускающих мошенничество и коррупцию. Трудоемкие процессы и отсутствие
                                доверия к системам, это проблемы которые мы решим с помощью технологии блокчейна. Мы
                                работаем над решением, которое позволяет глобальную интеграцию на рынке социального
                                обеспечения, так же как биткойн позволяет глобальную интеграцию на финансовом рынке.
                            </p>
                            <h4>Откуда берутся требования к Asure Network?</h4>
                            <p>
                                Мы разработали несколько прототипов децентрализованных моделей пенсионного обеспечения и
                                страхования, чтобы увидеть, как децентрализованные системы социального обеспечения могут
                                создаваться с учетом потребностей людей. Прототипы основаны на немецкой пенсионной
                                системе. Мы получили очень ценные отзывы после моделирования различных вариантов
                                использования на семинаре для немецкой ассоциации пенсионного страхования (Deutsche
                                Rentenversicherung Bund). Полученные нами знания помогли нам спроектировать Asure
                                Network, чтобы мы могли обеспечить оптимальную инфраструктуру блокчейна для будущих
                                служб социального обеспечения, таких как прозрачные, масштабируемые и совместимые с
                                политикой защиты данных Пенсионные и Страховые системы, а также системы для реализации
                                решений Базового доходных решений.
                            </p>
                            <h4>Наша Миссия:</h4>
                            <p>
                                Помочь социальному обеспечению достичь необходимых стандартов качества, прозрачности и
                                надежности.
                            </p>
                            <h4>Наше Видение:</h4>
                            <p>
                                Люди во всем мире наслаждаются своей жизнью, не беспокоясь о каких-либо рисках или
                                потерях.
                            </p>
                            <h4>Факты:</h4>
                            <p>
                                Наша команда состоит из более чем 15 специалистов, которые имеют опыт работы в области
                                страхования и новейших технологий (AI и Data Science/ Искусственный интелект и Наука о
                                данных) и специализируются на работе с предприятиями и государственными органами в
                                области инноваций.
                                <br/><br/>
                                Asure Foundation является некоммерческой организацией, занимающейся улучшением мировых
                                систем социального обеспечения и содействием исследованиям, разработкам и повышению
                                осведомленности в этой области.
                                <br/><br/>
                                <strong>Проект запущен:</strong> в начале 2017 года<br/>
                                <strong>Штаб-квартира:</strong> Zug, Швейцария и Dortmund, Германия
                            </p>
                            <h4>Важные ссылки:</h4>
                            <p>
                                <a href="https://medium.com/AsureNetwork"
                                   target="_blank">Блог</a>
                                <br/>
                                <a href="https://t.me/AsureNetwork"
                                   target="_blank">Телеграм</a><br/>
                                <a href="https://twitter.com/AsureNetwork"
                                   target="_blank">Твитер</a><br/>
                                <a href="https://asure.network"
                                   target="_blank">Вебсайт</a><br/>
                            </p>


                            <h4>Наш медиа комплект</h4>
                            <p>
                                <a href="https://www.dropbox.com/sh/46std9u0knlq2cz/AAAR3N1LiMs0vG0ZqWf7RSj9a?dl=0"
                                   target="_blank">
                                    Скачать ассеты
                                </a>
                            </p>


                            <h4>Цвета</h4>


                            <div class="row">
                                <div class="col-3">
                                    <div class="bg-color1 text-center">
                                        <br/>
                                        Голубой<br/>
                                        #69acd6
                                        <br/>
                                        &nbsp;
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="bg-color2 text-center">
                                        <br/>
                                        Зеленый<br/>
                                        #58c9c4
                                        <br/>
                                        &nbsp;
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="bg-color1-light text-center">
                                        <br/>
                                        Светло голубой<br/>
                                        #c5e9ff
                                        <br/>
                                        &nbsp;
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="bg-gray text-center">
                                        <br/>
                                        Серый<br/>
                                        #444444
                                        <br/>
                                        &nbsp;
                                    </div>
                                </div>
                            </div>

                            <br/><br/>
                            <h4>Если у вас имеются какие либо вопросыЮ</h4>
                            <p>
                                E-Mail: <a href="mailto:press@asure.io">пресса</a>
                            </p>
                            <br/><br/>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
