<section class="blc-solutions" id="solutions">
    <div class="container">
        <div class="head">
            <h1 class="title hr">Solutions</h1>
        </div>
    </div>
    <div class="solutions">
        <div class="container">

            <div class="row">
                <div class="offset-lg-2 col-lg-8 justify">
                    <blockquote class="blockquote text-center">
                        <p class="mb-0 justify default-text">
                            "We will enable governments and people around the world to establish social security
                            systems and assist in migrating existing ones to the Asure Network so they take advantage
                            of the blockchain technology."
                        </p>
                        <footer class="blockquote-footer"><cite title="Paul Mizel, CEO">Paul Mizel, CEO</cite></footer>
                    </blockquote>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 justify">

                    <div class="row row-padding">
                        <div class="col-sm-8 col-lg-6">
                            <h6>Asure dApp</h6>
                            <p>
                                The Asure dApp will become the reference implementation for dApps using the Asure
                                protocol and platform. It will feature
                            </p>
                            <ul class="ul">
                                <li>a technical feasibility study of the german statutory pension system implemented on
                                    the Ethereum blockchain and the Asure protocol / platform.
                                </li>
                                <li>a complete wallet implementation.</li>
                                <li>an overview and management of your insurance policies.</li>
                                <li>an insurance store to find and buy insurance policies.</li>
                            </ul>
                            <p>
                                Please try out the Asure dApp which runs currently on the Ethereum Rinkiby testnet.
                                <a href="https://dapp.asure.io" target="_blank" rel="noopener">https://dapp.asure.io</a>
                            </p>
                            <p>
                                This implementation is still very much a work in progress. It can be used for testing,
                                but it should not be used for real funds. We do our best to identify and fix problems,
                                and implement missing features.
                            </p>
                            <a href="https://play.google.com/store/apps/details?id=io.asure.dapp" target="_blank"
                               rel="noopener">
                                <img src="content/img/google_play_pre.png" alt="google store" style="width: 160px"/>
                            </a>

                            <img src="content/img/apple_store_pre_cs.png" alt="apple store" style="width: 160px"/>
                        </div>
                        <div class="col-sm-4 col-lg-6 d-none d-md-block">
                            <div class="device-wrapper"
                                 style="margin: 0px auto; max-width: 380px">
                                <div class="device"
                                     data-device="iPhone7"
                                     data-orientation="portrait"
                                     data-color="gold">
                                    <div class="screen" style="pointer-events:auto">
                                        <iframe title="app"
                                                src="https://dapp.asure.io"
                                                style="width:100%; height: 100%"
                                                frameBorder="0"></iframe>
                                    </div>
                                    <div class="button"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>