<section class="blc-tge bg-white-blue" id="tge-sale">
    <div class="container">
        <div class="head">
            <h1 class="title hr">Join our TGE in December 2019</h1>
            <div class="row">
                <div class="offset-md-2 col-md-8 justify">

                </div>
            </div>
        </div>

        <div class="ico">
            <div class="row">
                <div class="col-xl-5 pr-4 pl-4 tge-box-blue">
                    <h2 class="text-center m-4 text-uppercase">Asure Network</h2>

                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title text-uppercase text-center pb-5 pt-5 mb-0">
                                Blockchain infrastructure for future social
                                security systems
                            </h5>
                        </div>
                    </div>

                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title text-uppercase text-center">Download Asure papers</h5>
                            <table class="table table-sm table-borderless table-striped table-hover mb-1"
                                   style="font-size: 0.9rem;">
                                <tbody>
                                <tr>
                                    <td>
                                        Whitepaper
                                    </td>
                                    <td>
                                        <a href="/asure.network.whitepaper.en.pdf" rel="nofollow" target="_blank">
                                            <img src="content/img/en.svg.png" height="20px" class="img-flag-thumbnail"/>
                                        </a>
                                    </td>
                                    <td></td>
                                    <td>
                                        <a href="/asure.network.whitepaper.ru.pdf" rel="nofollow" target="_blank">
                                            <img src="content/img/ru.svg.png" height="20px" class="img-flag-thumbnail"/>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="https://medium.com/asure-network-japan/asure-network%E3%83%9B%E3%83%AF%E3%82%A4%E3%83%88%E3%83%9A%E3%83%BC%E3%83%91%E3%83%BC-bb0651314940"
                                           rel="nofollow" target="_blank">
                                            <img src="content/img/jp.svg.png" height="20px" class="img-flag-thumbnail"/>
                                        </a>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <a href="/asure.network.whitepaper.gr.pdf"
                                           rel="nofollow" target="_blank">
                                            <img src="content/img/gr.svg.png" height="20px" class="img-flag-thumbnail"/>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        TGE Paper
                                    </td>
                                    <td>
                                        <a href="/asure.network.tge.en.pdf" rel="nofollow" target="_blank">
                                            <img src="content/img/en.svg.png" height="20px" class="img-flag-thumbnail"/>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="/asure.network.tge.de.pdf" rel="nofollow" target="_blank">
                                            <img src="content/img/de.svg.png" height="20px" class="img-flag-thumbnail"/>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="/asure.network.tge.ru.pdf" rel="nofollow" target="_blank">
                                            <img src="content/img/ru.svg.png" height="20px" class="img-flag-thumbnail"/>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="/asure.network.tge.jp.pdf" rel="nofollow" target="_blank">
                                            <img src="content/img/jp.svg.png" height="20px" class="img-flag-thumbnail"/>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="/asure.network.tge.kr.pdf" rel="nofollow" target="_blank">
                                            <img src="content/img/kr.svg.png" height="20px" class="img-flag-thumbnail"/>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="/asure.network.tge.vn.pdf" rel="nofollow" target="_blank">
                                            <img src="content/img/vn.svg.png" height="20px" class="img-flag-thumbnail"/>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="/asure.network.tge.gr.pdf" rel="nofollow" target="_blank">
                                            <img src="content/img/gr.svg.png" height="20px" class="img-flag-thumbnail"/>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Investor deck</td>
                                    <td>
                                        <a href="/asure.network.investordeck.en.pdf" rel="nofollow" target="_blank">
                                            <img src="content/img/en.svg.png" height="20px" class="img-flag-thumbnail"/>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="/asure.network.investordeck.de.pdf" rel="nofollow" target="_blank">
                                            <img src="content/img/de.svg.png" height="20px" class="img-flag-thumbnail"/>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="/asure.network.investordeck.ru.pdf" rel="nofollow" target="_blank">
                                            <img src="content/img/ru.svg.png" height="20px" class="img-flag-thumbnail"/>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="/asure.network.investordeck.jp.pdf" rel="nofollow" target="_blank">
                                            <img src="content/img/jp.svg.png" height="20px" class="img-flag-thumbnail"/>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="/asure.network.investordeck.kr.pdf" rel="nofollow" target="_blank">
                                            <img src="content/img/kr.svg.png" height="20px" class="img-flag-thumbnail"/>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="/asure.network.investordeck.vn.pdf" rel="nofollow" target="_blank">
                                            <img src="content/img/vn.svg.png" height="20px" class="img-flag-thumbnail"/>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="/asure.network.investordeck.gr.pdf" rel="nofollow" target="_blank">
                                            <img src="content/img/gr.svg.png" height="20px" class="img-flag-thumbnail"/>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title text-uppercase text-center">Public Sale Bonus Program</h5>
                            <table class="table table-sm table-borderless table-striped table-hover mb-1"
                                   style="font-size: 0.9rem;">
                                <thead>
                                <tr>
                                    <th>Type</th>
                                    <th>Date</th>
                                    <th>Bonus</th>
                                    <th>Price</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>MainSale / IEO</td>
                                    <td>1. - 7. Dec. 2019</td>
                                    <td>15%<sup>TBD</sup></td>
                                    <td>$ 0.85</td>
                                </tr>
                                <tr>
                                    <td>MainSale / IEO</td>
                                    <td>8. - 31. Dec. 2019</td>
                                    <td>0%<sup>TBD</sup></td>
                                    <td>$ 1.00</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-xl-7 pr-4 pl-4 tge-box">
                    <h2 class="text-center m-4 text-uppercase">Asure TGE Public Main-Sale</h2>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card mb-4">
                                <div class="card-body card-tge-contract-details text-center">
                                    <h5 class="card-title text-uppercase">Token sale contract address</h5>
                                    <p class="card-text">
                                        <a class="tge-contract-addr" href="" target="_blank" rel="noopener"></a>
                                        <strong>
                                            <a href="https://etherscan.io/address/mainsale.asurenetwork.eth"
                                               target="_blank" rel="noopener">mainsale.asurenetwork.eth</a>
                                        </strong>
                                    </p>
                                    <p class="card-text">How to participate:
                                        [<a href="https://medium.com/asurenetwork/how-to-become-an-early-contributor-of-asure-network-980cbb4366ea"
                                            target="_blank" rel="noopener">
                                            Blog post
                                        </a>]
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card-deck mb-4">
                                <div class="card card-start-counter">
                                    <div class="card-body text-center">
                                        <h5 class="card-title text-uppercase counter-title"></h5>
                                        <h6 class="card-title counter-title-date">01 December 00:00 CEST</h6>
                                        <div class="row">
                                            <div class="col-3">
                                                <div class="counter-counter counter-days">0</div>
                                                <div class="counter-text">days</div>
                                            </div>
                                            <div class="col-3">
                                                <div class="counter-counter counter-hours">0</div>
                                                <div class="counter-text">hours</div>
                                            </div>
                                            <div class="col-3">
                                                <div class="counter-counter counter-minutes">0</div>
                                                <div class="counter-text">mins</div>
                                            </div>
                                            <div class="col-3">
                                                <div class="counter-counter counter-seconds">0</div>
                                                <div class="counter-text">secs</div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body d-flex flex-column text-center">
                                        <h5 class="card-title text-uppercase">Subscribe for Updates</h5>
                                        <div class="card-text d-flex justify-content-center align-items-center"
                                             style="flex: 2">
                                            <div class="social-header">
                                                <a href="https://twitter.com/AsureNetwork" target="_blank"
                                                   rel="noopener" alt="twitter">
                                                    <i class="fab fa-twitter"></i>
                                                </a>
                                                <a href="https://t.me/AsureNetwork" target="_blank" rel="noopener"
                                                   alt="telegram">
                                                    <i class="fab fa-telegram"></i>
                                                </a>
                                                <a href="https://medium.com/AsureNetwork" target="_blank" rel="noopener"
                                                   alt="medium">
                                                    <i class="fab fa-medium"></i>
                                                </a>
                                                <a href="https://fb.me/AsureNetwork" target="_blank" rel="noopener"
                                                   alt="facebook">
                                                    <i class="fab fa-facebook"></i>
                                                </a>
                                                <a href="https://www.reddit.com/r/asure" target="_blank" rel="noopener"
                                                   alt="reddit">
                                                    <i class="fab fa-reddit"></i>
                                                </a>
                                                <a href="https://www.youtube.com/c/AsureNetwork" target="_blank"
                                                   rel="noopener"
                                                   alt="youtube">
                                                    <i class="fab fa-youtube"></i>
                                                </a>
                                                <a href="https://www.github.com/AsureNetwork" target="_blank"
                                                   rel="noopener" alt="github">
                                                    <i class="fab fa-github"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card-deck mb-4">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <h5 class="card-title text-uppercase">KYC</h5>
                                        <a class="btn btn-block btn-action text-uppercase" href="/kyc">Register for
                                            TGE</a>
                                        <p class="card-text text-left mt-2" style="line-height: 0.9;">
                                            <small class="text-muted">
                                                You must register first before you can participate in our token sale.
                                            </small>
                                        </p>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body text-center">
                                        <h5 class="card-title text-uppercase">Token Sale</h5>
                                        <a class="btn btn-block btn-warning text-uppercase" href="/tge-status">Buy ASR
                                            token</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card mb-4">
                                <form class="form-inline form-addr-search">
                                    <div class="flex-grow-1">
                                        <label class="sr-only" for="ethereumAddress">Ethereum address</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">@</div>
                                            </div>
                                            <input type="text" class="form-control form-control"
                                                   id="ethereumAddress" placeholder="Insert your Ethereum address">
                                        </div>
                                    </div>
                                    <button type="submit"
                                            class="btn btn btn-primary btn-update-addr text-uppercase flex-grow-1">
                                        Check your Registration
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
