<div class="blc-timeline bg-blue" id="roadmap">
    <div class="container">
        <div class="row example-centered">
            <div class="col-md-12 example-title head">
                <h1 class="title hr">ASURE NETWORK ROADMAP</h1>
            </div>
            <div class="col-md-10 offset-md-1">
                <ul class="timeline timeline-centered">
                    <li class="timeline-item">
                        <div class="timeline-info">
            <span>
              <img src="content/img/icons/labs.png" width="64px" height="64px" alt="Labs Research"><br/>
              2014
            </span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h3 class="timeline-title">Research</h3>

                            <div class="timeline-subitem">
                                <h6>May 2014 - Blockchain Research</h6>
                                <p class="justify">
                                    First research projects in cooperation with University of Applied Sciences and Arts
                                    of
                                    Dortmund to investigate the possibilities of blockchain for insurance industry
                                    and the development of first prototypes.
                                </p>
                            </div>

                            <div class="timeline-subitem">
                                <h6>Aug. 2015 - Artificial Intelligence Research</h6>
                                <p class="justify">
                                    First research projects about Artificial Intelligence, Machine Learning, Big Data,
                                    and
                                    Predictive Analytics.
                                </p>
                            </div>

                            <div class="timeline-subitem">
                                <h6>Nov. 2016 - AI Kiev Labs</h6>
                                <p class="justify">
                                    Paul Mizel and his team started the development of a prototype for an AI-driven
                                    insurance advisor and full-automated chat assistant.
                                    He has also built up an office in Kiev and coordinated the efforts as
                                    a product manager to further accelerate the development.
                                </p>
                            </div>

                            <div class="timeline-subitem">
                                <h6>Apr. 2017 - Smart Contract Research</h6>
                                <p class="justify">
                                    First research projects on the Ethereum blockchain platform and proof-of-concepts
                                    about smart contracts.
                                </p>
                            </div>
                        </div>
                    </li>

                    <li class="timeline-item">
                        <div class="timeline-info">
            <span>
              <img src="content/img/icons/start.png" width="64px" height="64px" alt="Start"><br/>
              2018</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h3 class="timeline-title">Milestone 1: Asure & Minimum Viable Product</h3>

                            <div class="timeline-subitem">
                                <p class="justify">
                                    Paul Mizel, Fabian Raetz, and Gamal Schmuck founded a new company
                                    to face new challenges and work on ideas that make the world a better place.
                                    With their expertise in the insurance industry, they felt the need for a new type
                                    of insurance based on the principles of DAO. Since then they are working on their
                                    vision
                                    which became Asure.
                                </p>
                            </div>

                            <div class="timeline-subitem">
                                <h6>Jun. 2018 - Prototype I</h6>
                                <p class="justify">
                                    Developed prototype of the German pension system. The prototype can be found
                                    <a href="https://dapp.asure.io" target="_blank" rel="noopener">here</a>.
                                </p>
                            </div>

                            <div class="timeline-subitem">
                                <h6>Dec. 2018 - Prototype II</h6>
                                <p class="justify">
                                    Developed prototype of a decentralized pension system. The results can be found
                                    <a href="https://github.com/AsureNetwork/ETHBerlin" target="_blank"
                                       rel="noopener">here</a>.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-info">
                            <span>
                                <img src="content/img/icons/dev.png" width="64px" height="64px" alt="Development">
                                <br/>
                                2019
                            </span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h3 class="timeline-title">Milestone 2: Research and Asure Network development</h3>

                            <div class="timeline-subitem">
                                <h6>Jan. 2019 - Research decentralized pension</h6>
                                <p class="justify">
                                    We propose the development of a decentralized, globally available
                                    pension system using the redistribution scheme and to use a public blockchain
                                    infrastructure to operate it. The research is summarized in our
                                    <a href="/asure.depot.en.pdf" target="_blank" rel="noopener">DEPOT paper</a>
                                </p>
                            </div>

                            <div class="timeline-subitem">
                                <h6>Apr. 2019 - Develop Asure Network and testnet</h6>
                                <p class="justify">
                                    Develop first reference implementation of the Asure Network using the blockchain framework
                                    <a href="https://docs.substrate.dev/" target="_blank"
                                       rel="noopener">Substrate</a> and provide a public
                                    testnet.
                                    The network is reviewable by the community. The Asure Network testnet explorer can already be
                                    found
                                    <a href="https://explorer.asure.network/#/explorer" target="_blank"
                                       rel="noopener">here</a>.
                                </p>
                            </div>

                            <div class="timeline-subitem">
                                <h6>Aug. 2019 - TGE Pre-sale</h6>
                                <p class="justify">
                                    Please find all details regarding our public TGE Pre-sale in our
                                    <a href="/asure.network.tge.en.pdf" target="_blank" rel="noopener">TGE paper</a>.
                                </p>
                            </div>

                            <div class="timeline-subitem">
                                <h6>Dec. 2019 - TGE Main-sale</h6>
                                <p class="justify">
                                    Please find all details regarding our public TGE Main-sale in our
                                    <a href="/asure.network.tge.en.pdf" target="_blank" rel="noopener">TGE paper</a>.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-info">
                            <span>
                                <img src="content/img/icons/launch.png" width="64px" height="64px" alt="Launch">
                                <br/>
                                2020
                            </span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h3 class="timeline-title">Milestone 3: Launch network and grow community</h3>
                            <div class="timeline-subitem">
                                <p class="justify">
                                    Asure Network 1.0 will operate as an independent chain at the very beginning,
                                    supporting Nominated Proof-of-Stake (NPoS), WASM based SmartContracts, and a
                                    token bridge to bridge the ASR ERC20
                                    Token on Ethereum to the native protocol token of Asure Network.
                                </p>
                                <p class="justify">
                                    Asure Network 1.0 is released and has a Mainnet. Community members start to experiment
                                    and implement first use-cases and products on the platform.
                                    The Asure ecosystem is scaled in development and extended by the relevant tools:
                                    AsureScan, AsureWallet, AsureBot, AsureId, AsureClaims.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-info">
            <span>
              <img src="content/img/icons/ops.png" width="64px" height="64px" alt="Operations"><br/>
              2023+</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h3 class="timeline-title">Milestone 4: Globalisation</h3>
                            <p class="justify">
                                Asure Network 2.0 will connect with <a href="https://polkadot.network/">Polkadot</a>
                                and transform into a para-chain and multi-chain, which will increase the scalability and security
                                of the Asure Network even further. Also, it allows the interaction with other para-chains that host
                                functionalities like decentralized exchanges and more.
                            </p>
                            <p class="justify">
                                Due to the open and expandable design, the platform and the best
                                products prevail through self-regulation and are widely used by individuals in the
                                mainstream as well as by companies, authorities, and governments worldwide.
                                Asure will become the industry leader in the decentralized autonomous insurance
                                platform.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <blockquote class="blockquote text-center">
                    <p class="mb-0 text-justify">
                        "We will enable governments and people around the world to establish social security systems and
                        assist in migrating existing ones to Asure Network so they take advantage of the blockchain
                        technology."
                    </p>
                    <footer class="blockquote-footer"><cite title="
                        Paul Mizel">
                            Paul Mizel, President of Asure Foundation</cite></footer>
                </blockquote>
            </div>
        </div>
    </div>
</div>
