<div class="blc-whitepaper">
    <div class="container">
        <div class="whitepaper">
            <div class="head">
                <h1 class="title hr">Read more ...</h1>
            </div>
            <div class="controls">
                <div class="row">
                    <div class="col-md-6 call-to-action">
                        <div class="justify-content-center d-flex flex-wrap">
                            <a href="/asure.network.whitepaper.en.pdf" target="_blank" rel="noopener">
                                <img src="content/img/asure_whitepaper_pre.png" alt="asure whitepaper"/>
                            </a>
                            <a href="/asure.network.tge.en.pdf" target="_blank" rel="noopener">
                                <img src="content/img/asure_tgepaper_pre.png" alt="asure tge paper"/>
                            </a>
                            <a href="/asure.network.investordeck.en.pdf" target="_blank" rel="noopener">
                                <img src="content/img/asure_pitchdeck_pre.png" alt="asure pitchdeck"/>
                            </a>
                            <a href="/asure.depot.en.pdf" target="_blank" rel="noopener">
                                <img src="content/img/asure_depot_pre.png" alt="asure depot - decentralized pension spec"/>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="text-white text-center pb-3">
                            <p class="py-4 py-lg-0">
                                It's finally happening. Join our TGE Main-sale on <strong>1st December 2019</strong>.
                                Become an contributor by <a href="/kyc" rel="noopener">registering</a> for our TGE.
                            </p>
                            <a href="/staking-rewards-calculator" class="btn btn-warning btn-shadow" rel="noopener">
                                Rewards calculator
                            </a>
                            <a href="/kyc" class="btn btn-action btn-shadow" rel="noopener">
                                Register for TGE
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>